<!DOCTYPE html>
<html>
  <head>
    <title>EverlywellBackendChallenge</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Everlywell Backend Challenge</h1>

    Navigation:
    <%= link_to 'Members', members_path %> | <%= link_to 'Headlines', headlines_path %> | <%= link_to 'Expert Search', expert_path %>
    <%= yield %>
  </body>
</html>
